*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}
body{
  background-color: #f0f0f0;
  padding: 20px;
}

/* Dyanmic css.jsx */
.btn{
padding:10px 20px;
border:none;
cursor:pointer;
font-size:16px;
}

.active{
background-color:green;
color:white;
}

.inactive{
background-color:gray;
color:white;
}